.selecteCategoryForTicket{
    position: absolute;
    top: 14%;
    background-color: rgb(230, 248, 188);
    width: 100%;
    height: 86%;
    display: flex;
    flex-wrap: wrap;
    border-bottom-right-radius: 45px ;
    border-bottom-left-radius: 45px ;
}

.eachCategory{
    margin: auto;
    width: 30%;
    height: 100px;
}

.imageCategory{
    width: 50%;

}