.Home{
    margin: auto;
    margin-top: 10px;
    border-radius: 3;
    width: 420px;
    height: 840px;
    background-image: url('./backiphone.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    z-index: 0;
}


.photoScanUpload{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.photoImg, .uploadImg{
    width: 60px;
}

.scanImg{
    width: 100px;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    height: 60%;

}
.categoryWrap{
    margin: auto;
    width: 31%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photoCategories{
    width: 70px;
    
}
.buttonDepence{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}


.detailsButton{
    width: 40px;
}

.uploadInput{
    outline: none;
    display: block;
    border: 1px red solid;
    padding: 5px 5px 5px 40px;
    height: 20px;
    background-size: auto 90%;
}

.uploadInput2{
    background: url('../assets/photoIcon.png') no-repeat 3px 1px;
    background-size: auto 90%;

}


.categories:hover > * {
    opacity: 0.7;
  }
  
  .categories:hover:hover > *:hover {
    transform: scale(1.1);
    opacity: 1;
  }