.ticketForm{
    width: 370px;
    height: 767px;
    background: grey;
    background-color: rgb(214, 244, 233);
    position: absolute;
    top: 10px;
    z-index: 2;
    border-top-right-radius: 3px ;
    border-top-left-radius: 3px ;
    border-bottom-right-radius: 45px ;
    border-bottom-left-radius: 45px ;
    margin-top: 53px;
    
}
.priceTicket{
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: auto;
    height: 70px;
    border: rgb(21, 126, 42);
    background-color: aquamarine;
}

.price{
    font-size: 2em;
}